
//variables

$txt-dark-blue: hsl(240, 38%, 20%);
$txt-grayish-blue: hsl(240, 18%, 77%);

//breakpoints

$extra-large-device-width: 1366px;
$large-device-width: 1199px; // desktops < 1199px
$medium-device-width: 991px; //tablets < 991px
$small-device-width: 767px; // landscape phones < 767px
$extra-small-device-width: 575px; // phone < 576px