@import './variables';
@import './mixins';

html {
  box-sizing: border-box;
  font-size: 100%;
}
*, ::after,::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  
  &::after {
    content: "";
    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    position: absolute;
    width: 611px;
    height: 657px;
    left: 0;
    bottom: 0;
  }
}
h1 {
  margin-top: 0;
}

.container {
  padding: 0 8rem;
}
.slider {
  margin-top: 3.4375rem;
  &__body {
    position: relative;
  }
  &__item {
    display: none;
  }
  &__item__wrap {
      display: flex;
      align-items: center;

      @include mobile() {
        flex-direction: column;
      }
  }
  &__item__details {
    h1 {
      font-size: 2rem;
      width: 653px;
      z-index: 1;
      color: $txt-dark-blue;  
      font-weight: 300;
      position: relative;
      margin-bottom: 2.5rem;


      &::before {
        content: '';
        background-image: url(../images/pattern-quotes.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center bottom;
        width: 120px;
        height: 96px;
        position: absolute;
        left: 98px;
        top: -64px;
      }
    
    }
  }
  &__name {
    color: $txt-dark-blue;
    font-weight: 700;
    margin-right: 0.5rem;
  }
  &__details {
    color: $txt-grayish-blue;  
    font-weight: 500;
    margin: 0;
  }
  .carousal {
    position: relative;
  
    &::after {
      content: '';
      background-image: url(../images/pattern-bg.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center bottom;
      height: 551px;
      width: 583px;
      position: absolute;
      top: -12%;
      z-index: -3;
      left: -32%;
    }

    &__img__wrapper {
      img {
        height: 455px;
        position: relative;
        left: -16%;
        z-index: -2;
        box-shadow: 0.5rem 2rem 24px 0rem rgba(67,55,101,0.15);
      }
    }
   
  }
  &__btn__wrapper {
    position: absolute;
    bottom: -1rem;
    right: 25rem;

    .btn {
      background-color: white;
      border: none;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      padding: 1rem 0.9rem;
      width: 54px;
      height: 46px;
      margin-right: -1rem;
      cursor: pointer;
      transition: all .3s;
      
      &:hover {
        background-color: #f0f0f0;
      }
    }
    .rotate-btn {
      transform: rotate(179deg);
    }
    .icon {
      height: 0.8rem;
    }
    .icon-next {
      transform: rotate(184deg);
    }
  }
  .active {
    display: block;
    transform: scale(1);
  }
}