html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

body::after {
  content: "";
  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  position: absolute;
  width: 611px;
  height: 657px;
  left: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  body::after {
    width: 271px;
    height: 152px;
  }
}

h1 {
  margin-top: 0;
}

.container {
  padding: 0 8rem;
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }
}

.slider {
  margin-top: 3.4375rem;
}

.slider__body {
  position: relative;
}

.slider__item {
  display: none;
}

.slider__item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .slider__item__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .slider__item__details {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.slider__item__details h1 {
  font-size: 2rem;
  width: 100%;
  z-index: 1;
  color: #202046;
  font-weight: 300;
  position: relative;
  margin-bottom: 2.5rem;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .slider__item__details h1 {
    font-size: 1.2rem;
    white-space: normal;
    margin-top: 4.5rem;
    text-align: center;
    word-break: break-word;
    line-height: 1.2;
    margin-bottom: 2rem;
    max-width: 21rem;
  }
}

.slider__item__details h1::before {
  content: '';
  background-image: url(../images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  width: 120px;
  height: 96px;
  position: absolute;
  left: 98px;
  top: -64px;
}

@media (max-width: 767px) {
  .slider__item__details h1::before {
    width: 58px;
    height: 46px;
    left: 8rem;
    top: -37px;
  }
}

.slider__name {
  color: #202046;
  font-weight: 700;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .slider__name {
    display: block;
  }
}

.slider__details {
  color: #babacf;
  font-weight: 500;
  margin: 0;
}

@media (max-width: 767px) {
  .slider__details {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
  }
}

.slider .carousal {
  position: relative;
}

.slider .carousal::after {
  content: '';
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  height: 551px;
  width: 583px;
  position: absolute;
  top: -12%;
  z-index: -3;
  left: -32%;
}

@media (max-width: 767px) {
  .slider .carousal::after {
    height: 329px;
    width: 329px;
    position: absolute;
    top: -19%;
    z-index: -3;
    left: -18%;
  }
}

.slider .carousal__img__wrapper img {
  height: 455px;
  position: relative;
  left: -3%;
  z-index: -2;
  -webkit-box-shadow: 0.5rem 2rem 24px 0rem rgba(67, 55, 101, 0.15);
          box-shadow: 0.5rem 2rem 24px 0rem rgba(67, 55, 101, 0.15);
  -webkit-animation: floatAround 4s ease-in-out infinite;
          animation: floatAround 4s ease-in-out infinite;
}

@media (max-width: 767px) {
  .slider .carousal__img__wrapper img {
    height: 252px;
  }
}

.slider__btn__wrapper {
  position: absolute;
  bottom: -1rem;
  right: 20rem;
}

@media (max-width: 767px) {
  .slider__btn__wrapper {
    top: 14.5rem;
    right: 11rem;
  }
}

.slider__btn__wrapper .btn {
  background-color: white;
  border: none;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 1rem 0.9rem;
  width: 54px;
  height: 46px;
  margin-right: -1rem;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider__btn__wrapper .btn:hover {
  background-color: #f0f0f0;
}

@media (max-width: 767px) {
  .slider__btn__wrapper .btn {
    padding: 0.45rem;
    width: 43px;
    height: 39px;
  }
}

.slider__btn__wrapper .rotate-btn {
  -webkit-transform: rotate(179deg);
          transform: rotate(179deg);
}

.slider__btn__wrapper .icon {
  height: 0.8rem;
}

@media (max-width: 767px) {
  .slider__btn__wrapper .icon {
    height: 0.6rem;
    width: 0.65rem;
  }
}

.slider__btn__wrapper .icon-next {
  -webkit-transform: rotate(184deg);
          transform: rotate(184deg);
}

.slider .active {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes floatAround {
  0% {
    -webkit-transform: translate(0) rotate(-0.5deg);
            transform: translate(0) rotate(-0.5deg);
  }
  50% {
    -webkit-transform: translateY(-0.5rem) rotate(1deg);
            transform: translateY(-0.5rem) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(0) rotate(-0.5deg);
            transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes floatAround {
  0% {
    -webkit-transform: translate(0) rotate(-0.5deg);
            transform: translate(0) rotate(-0.5deg);
  }
  50% {
    -webkit-transform: translateY(-0.5rem) rotate(1deg);
            transform: translateY(-0.5rem) rotate(1deg);
  }
  100% {
    -webkit-transform: translate(0) rotate(-0.5deg);
            transform: translate(0) rotate(-0.5deg);
  }
}
/*# sourceMappingURL=style.css.map */